<hr>

<div class="well">
  <dl class='dl-horizontal'>
    <dt>Subject</dt>
    <dd>{{model.subject}}</dd>
    <dt>From</dt>
    <dd>{{model.from}}</dd>
    <dt>To</dt>
    <dd>{{model.to}}</dd>
  </dl>
</div>

<p>{{model.body}}</p>
