<br>
<div class="well">
  <div class="row">
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-send"></span></p>
      <p>Send</p>
    </div>
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-floppy-save"></span></p>
      <p>Save</p>
    </div>
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-cloud"></span></p>
      <p>Cloud Something</p>
    </div>
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-share-alt"></span></p>
      <p>Some Social BS</p>
    </div>
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-picture"></span></p>
      <p>Gifs</p>
    </div>
    <div class="col-md-2 text-center">
      <p><span class="glyphicon glyphicon-random"></span></p>
      <p>Recombobulate</p>
    </div>
  </div>
</div>