<div class="form-group">
  <label>Email Text</label>
  {{textarea class='form-control' value=model.body}}
</div>

<p class="text-right">
  {{link-to "Save" 'mailbox.email.index' class='btn btn-primary btn-lg'}}
</p>