<br>
<div class="well">
  <div class="row">
    <div class="col-md-12 text-center">
      <p><span class="glyphicon glyphicon-paperclip"></span></p>
      <p>It looks like you're writing an email. How can I best annoy you?</p>
    </div>
  </div>
</div>