<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action 'closeModal'}}><span>&times;</span></button>
        <h4 class="modal-title">Attach A file</h4>
      </div>
      <div class="modal-body">
        <p><input type="file"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action 'closeModal'}}>Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop"></div>